#调用开发环境配置
---
spring:
 profiles:
  active: dev

---
spring:
 application:
  name: "templete"
---
#spring:
# boot:
#  admin:
#   url: http://localhost:8083
#info:
# name: client
# description: @project.description@
# version: @project.version@
#endpoints:
# trace:
#  enabled: true
#  sensitive: false

---
# 页面默认前缀目录
spring:
 jpa:
  properties:
   hibernate:
    hbm2ddl:
     auto: update
  show-sql: true

#EhCache的配置文件(对于EhCache的配置文件也可以通过application.properties文件中使用spring.cache.ehcache.config属性来指定，比如：)
#spring.cache.ehcache.config=classpath:config/another-config.xml

########################redis-start#############################
# REDIS (RedisProperties)
# Redis数据库索引（默认为0）
---
#spring:
# redis:
#  database: 0
## Redis服务器地址
#  host: localhost
## Redis服务器连接端口
#  port: 6379
## Redis服务器连接密码（默认为空）
#  password:
## 连接池最大连接数（使用负值表示没有限制）
#  pool:
#   max-active: 8
## 连接池最大阻塞等待时间（使用负值表示没有限制）
#   max-wait: -1
## 连接池中的最大空闲连接
#   max-idle: 8
## 连接池中的最小空闲连接
#   min-idle: 0
## 连接超时时间（毫秒）
#  timeout: 0
########################redis-end###########################

##################JavaMailSender-start#####################
---
spring:
 mail:
  host: smtp.qq.com
  username: 136248471@qq.com
  password: vucynzuinkpacadh
  properties:
   mail:
    smtp:
     auth: true
     timeout: 25000
     enable: true
     starttls:
      required: true
###################JavaMailSender-end####################




#debug=true

########################默认日志配置 START##############################
#NEVER：禁用ANSI-colored输出（默认项）
#DETECT：会检查终端是否支持ANSI，是的话就采用彩色输出（推荐项）
#ALWAYS：总是使用ANSI-colored格式输出，若终端不支持的时候，会有很多干扰信息，不推荐使用
---
spring:
 output:
  ansi:
   enabled: Always

#设置文件，可以是绝对路径，也可以是相对路径。
---
logging:
  file: "target/mylog.log"

#logging.level：日志级别控制前缀，*为包名或Logger名
#LEVEL：选项TRACE, DEBUG, INFO, WARN, ERROR, FATAL, OFF
#com.tos包下所有class以DEBUG级别输出
---
#logging:
# .level:
#  com:
#   tos: DEBUG

#root日志以WARN级别输出
#logging.level.root=WARN
########################默认日志配置 END##############################



########################RabbitMq START################################
---
spring:
 rabbitmq:
  host: localhost
  port: 5672
  username: guest
  password: guest
########################RabbitMq END##################################

#关闭安全认证校验 (false 为关闭，需要与com.tos.secruity.WebSecurityConfigd的@EnableGlobalMethodSecurity(prePostEnabled = false)配合使用才有效)
management:
 security:
  enabled: true

##########################JWT-start#############################
# JWT
---
jwt:
 expiration: 604800
 header: Authorization
 secret: mySecret
 tokenHead: Bearer
 route:
  authentication:
   path: auth
   refresh: refresh
   register: "auth/register"
##########################JWT-end#############################